* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

body {
    background: linear-gradient(45deg, #dfb0b6, #b5d4c2, #ddd3b0, #bcccd6, #c3b6d2, #e3b594);
    background-size: 1200% 1200%;

    -webkit-animation: background 10s ease infinite;
    -moz-animation: background 10s ease infinite;
    -o-animation: background 10s ease infinite;
    animation: background 10s ease infinite;
}

h1 {
    font-size: 2em
}

h2 {
    font-size: 30px
}

p {
    font-size: 1.3em
}

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
    display: none;
}

.content {height: calc(100vh - 60px);}

model-viewer {

    overflow-x: hidden;
    height: 100%;
    width: 100%;
    z-index: 99;




}

#ar-button {
    background-image: url(img/logo-apple-ar-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 15px;
    padding: 0px 16px 0px 40px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color: black;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    width: 50vw;max-width: 400px;
  

}

model-viewer > #ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 175px;
    animation: elongate 2s infinite ease-in-out alternate;
    display: none;
}




.slider {
    width: 100%;
    text-align: center;



    position: relative;
    height: 60px;
    bottom: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.5);
    





}

.slides {
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);




    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 100%;
    border: none;
    display: flex;
}

.slide.selected {
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.slide:focus {
    outline: none;
}

.slide:focus-visible {
    outline: 1px solid white;
}









nav {
    background-color: transparent;
    z-index: 100;
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    min-width: 280px;
}










.logo {
    width: 5em;
    height: 5em;
    position: fixed;
    margin: 5px;

    border-radius: 60px;


    background-image: url(img/logo%20rauco.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);



}




@-webkit-keyframes background {
    0% {
        background-position: 88% 0%
    }

    50% {
        background-position: 13% 100%
    }

    100% {
        background-position: 88% 0%
    }
}

@-moz-keyframes background {
    0% {
        background-position: 88% 0%
    }

    50% {
        background-position: 13% 100%
    }

    100% {
        background-position: 88% 0%
    }
}

@-o-keyframes background {
    0% {
        background-position: 88% 0%
    }

    50% {
        background-position: 13% 100%
    }

    100% {
        background-position: 88% 0%
    }
}

@keyframes background {
    0% {
        background-position: 88% 0%
    }

    50% {
        background-position: 13% 100%
    }

    100% {
        background-position: 88% 0%
    }
}




blockquote {

    padding: 1.3em;
    margin: 20px;
    max-width: 500px;
    text-align: left;

    border-radius: 30px;



}

.card {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 60px
}

.card2 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 60px
}


.a,
.b,
.c,
.d {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    padding: 60px
}

.e {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
    padding: 0px;
    padding-top: 60px;
    padding-bottom: 60px
}

.a p:nth-child(1) {
    order: 2;
    margin: auto;
    max-width: 500px;
    text-align: left;
    padding: 20px
}

.a img:nth-child(2) {
    order: 1;
    max-width: 300px;
    width: 100%;
    margin: auto;
    border-radius: 60px;
}

.b p:nth-child(1) {
    order: 1;
    margin: auto;
    max-width: 500px;
    text-align: left;
    padding: 20px
}

.b img:nth-child(2) {
    order: 2;
    max-width: 300px;
    width: 100%;
    margin: auto;
    border-radius: 60px;
}

.c p:nth-child(1) {
    order: 2;
    margin: auto;
    max-width: 500px;
    text-align: left;
    padding: 20px
}

.c img:nth-child(2) {
    order: 1;
    max-width: 300px;
    width: 100%;
    margin: auto;
    border-radius: 60px;
    background-color: white
}

.d blockquote:nth-child(1) {
    order: 1;
}

.d blockquote:nth-child(2) {
    order: 2;
}

.d blockquote:nth-child(3) {
    order: 3;
}

.d blockquote:nth-child(4) {
    order: 4;
}

.e p:nth-child(1) {
    order: 2;
    margin: auto;
    max-width: 1000px;
    text-align: left;
    padding: 20px
}

.e img:nth-child(2) {
    order: 1;
    max-width: 200px;
    width: 100%;
    margin: auto;
}



.quote-text {
    font-style: italic;



}

.credit {

    position: relative;

    margin-top: 1.3em;
    font-weight: bold;

}

.quote-icon {
    width: 50px;
    margin-bottom: 0.5em;
}

@media (max-width: 1000px) {
.content {height: calc(100vh - 120px);}
    .a,
    .b,
    .c,
    .d {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 60px;
        padding: 0px;
        padding-top: 60px;
        padding-bottom: 60px
    }
    
    .a img:nth-child(2){
        max-width: 200px;
    }
    
       .b img:nth-child(2){
        max-width: 200px;
    }
    
       .c img:nth-child(2){
        max-width: 200px;
    }
    
     .e img:nth-child(2) {
 
    max-width: 150px;
   
}

    .a p:nth-child(1) {
        order: 2;
    }

    .a img:nth-child(2) {
        order: 1
    }

    .b p:nth-child(1) {
        order: 2;
    }

    .b img:nth-child(2) {
        order: 1;
    }

    .c p:nth-child(1) {
        order: 2;
    }

    .c img:nth-child(2) {
        order: 1
    }

    

h1 {
    font-size: 1.6em
}

h2 {
    font-size: 30px
}

p {
    font-size: 1.25em
}

    .card {
        padding: 0px
    }

    .card2 {
        padding: 0px
    }